<ion-header>
  <ion-toolbar>
    <ion-title>
      Editar Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="miFormulario" (ngSubmit)="updateProducto()" novalidate>   

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion" type="text"></ion-input>
    </ion-item>
    

    <ion-item lines="full">
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Cód. Barra</ion-label>
      <ion-input formControlName="codigoBarra" type="text"></ion-input>
    </ion-item>    
    <ion-row>
      <ion-col>
        <ion-button (click)="scan()" type="button" color="success" expand="block">Escanear</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="limpiar()" type="button" color="warning" expand="block">Limpiar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="miFormulario.invalid" type="submit" color="danger" expand="block">Guardar</ion-button>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>